@import "tailwindcss";

* {
  box-sizing: border-box;
  font-family: "Satoshi", sans-serif;
}

body {
  background: linear-gradient(135deg, #0f0f0f 0%, #1a0b2e 100%);
  color: #fff;
  min-height: 100vh;
}
